{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
	<div class="page-header">
		{% if link.url %}
		<h1><a href="{{ link.url }}">{{ link.titel }}</a> <small>({{ link_hostname }})</small></h1>
		{% else %}
		<h1>{{ link.titel }} <small>({{ link_hostname }})</small></h1>
		{% endif %}
		{% if link.user_website %}
		<small>by <a href="{{ link.user_website }}">{{ link.user }}</a> | {{ link.upvotes }} upvotes</small>
		{% else %}
		<small>by {{ link.user }} | {{ link.upvotes }} upvotes</small>
		{% endif %}
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}"><strong>{{ message }}</strong></div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% if link.text %}
	<p class="lead">{{ link.text }}</p>
	{% endif %}
	<table class="table table-condensed">
	{% for comment in comments %}
		<tr>
			<td>
				{% if comment.user_website %}
					{% if comment.id|string() in session.voted_comments %}
					<small><i class="fa fa-chevron-up"></i> <a href="{{ comment.user_website }}">{{ comment.user }}</a> | {{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
					{% else %}
					<small><a href="/comments/{{ link.id }}/upvote/{{ comment.id }}"><i class="fa fa-chevron-up"></i></a> <a href="{{ comment.user_website }}">{{ comment.user }}</a> | {{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
					{% endif %}
				{% else %}
					{% if comment.id|string() in session.voted_comments %}
					<small><i class="fa fa-chevron-up"></i> {{ comment.user }} | {{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
					{% else %}
					<small><a href="/comments/{{ link.id }}/upvote/{{ comment.id }}"><i class="fa fa-chevron-up"></i></a> {{ comment.user }} | {{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
					{% endif %}
				{% endif %}
				<br />
				{{ comment.message }}
			</td>
		</tr>
	{% endfor %}
	</table>
	<hr />
	<form class="form" role="form" action="" method="POST" enctype="login">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.user) }}
		{{ wtf.form_field(form.user_website) }}
		{{ wtf.form_field(form.message) }}
		{% for error in form.recaptcha.errors %}
		 	{{ error }}
		{% endfor %}
		{{ form.recaptcha }}
		<br />
		<p><button type="submit" class="btn btn-primary" value="name">Submit</button></p>
	</form>
</div>
{% include "footer.html" %}
{% endblock %}
