{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% include "navbar.html" %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h1>{{ titel }}</h1>
	<table class="table table-striped table-hover">
	{% for comment in comments %}
		<tr>
			<td>
				{{ comment.message }}
				{% if comment.website %}
					{% if comment.id|string() in session.voted_comments %}
					<br /><small>&#9650; <a href="{{ comment.website }}">{{ comment.name }}</a> | {{ comment.date_time.strftime('%Y-%m-%d %H:%M') }}</small>
					{% else %}
					<br /><small><a href="/comments/{{ link_id }}/upvote/{{ comment.id }}">&#9650;</a> <a href="{{ comment.website }}">{{ comment.name }}</a> | {{ comment.date_time.strftime('%Y-%m-%d %H:%M') }}</small>
					{% endif %}
				{% else %}
					{% if comment.id|string() in session.voted_comments %}
					<br /><small>&#9650; {{ comment.name }} | {{ comment.date_time.strftime('%Y-%m-%d %H:%M') }}</small>
					{% else %}
					<br /><small><a href="/comments/{{ link_id }}/upvote/{{ comment.id }}">&#9650;</a> {{ comment.name }} | {{ comment.date_time.strftime('%Y-%m-%d %H:%M') }}</small>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
	<hr />
	<form class="form" role="form" action="" method="POST" enctype="login">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.name) }}
		{{ wtf.form_field(form.website) }}
		{{ wtf.form_field(form.message) }}
		{% for error in form.recaptcha.errors %}
		 	{{ error }}
		{% endfor %}
		{{ form.recaptcha }}
		<p><button type="submit" class="btn btn-default" value="name">Submit</button></p>
</div>
{% endblock %}
