{% extends "bootstrap/base.html" %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% include "navbar.html" %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<table class="table table-striped table-hover">
	{% for i in links %}
		<tr>
			{% if i.id|string() in session.voted %}
			<td>&#9650;</td>
			{% else %}
			<td><a href="/upvote/{{ i.id }}">&#9650;</a></td>
			{% endif %}
			<td>
				<a href="{{ i.url }}">{{ i.titel }}</a>
				<br /><small>{{ i.upvotes }} upvotes</small>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
