{% extends "bootstrap/base.html" %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% include "navbar.html" %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<table class="table table-striped table-hover">
	{% for i, j in links %}
		<tr>
			{% if j.id|string() in session.voted %}
			<td>&#9650;</td>
			{% else %}
			<td><a href="/upvote/{{ j.id }}">&#9650;</a></td>
			{% endif %}
			<td>
				<a href="{{ j.url }}">{{ j.titel }}</a>
				<br /><small>{{ j.upvotes }} upvotes | <a href="/comments/{{ j.id }}">{% if counter[i] > 0 %}{{ counter[i] }} comments{% else %}discuss{% endif %}</a></small>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
