{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<table class="table table-striped table-hover">
	{% for i, j in links %}
		<tr>
			{% if j.id|string() in session.voted_links %}
			<td><i class="fa fa-chevron-up"></i></td>
			{% else %}
			<td><a href="/upvote/{{ j.id }}"><i class="fa fa-chevron-up"></i></a></td>
			{% endif %}
			<td>
				{% if j.text %}
				<a href="/comments/{{ j.id }}">{{ j.titel }}</a> <small>({{ link_hostnames[i] }})</small>
				{% else %}
				<a href="{{ j.url }}">{{ j.titel }}</a> <small>({{ link_hostnames[i] }})</small>
				{% endif %}
				<br /><small>{{ j.upvotes }} upvotes | <a href="/comments/{{ j.id }}">{% if counter[i] > 0 %}{{ counter[i] }} comments{% else %}discuss{% endif %}</a></small>
			</td>
		</tr>
	{% endfor %}
	</table>

</div>
{% include "footer.html" %}
{% endblock %}
