{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
	<div class="page-header">
		<h1>Submit <small>Choose between URL or Text</small></h1>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}"><strong>{{ message }}</strong></div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form class="form" role="form" action="" method="POST" enctype="login">
		{{ form.hidden_tag() }}
		<h2>Link</h2>
		{{ wtf.form_field(form.titel) }}
		{{ wtf.form_field(form.url) }}
		{{ wtf.form_field(form.text) }}
		<h2>User</h2>
		{{ wtf.form_field(form.user) }}
		{{ wtf.form_field(form.user_website) }}
		{% for error in form.recaptcha.errors %}
		 	{{ error }}
		{% endfor %}
		{{ form.recaptcha }}
		<br />
		<p><button type="submit" class="btn btn-primary" value="name">Submit</button></p>
	</form>
</div>
{% include "footer.html" %}
{% endblock %}
